<!DOCTYPE html>
<html>
<head>
    <title>Log Issue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <div class="nav-left">
        <strong>IT Enterprise Support</strong>
    </div>

    <div class="nav-right">
        Logged in as: <b>{{ session['user'] }}</b>
        <a href="/dashboard">Dashboard</a>
        <a href="/log_issue">Log Issue</a>
        <a href="/view_issues">Issues</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">

<div class="card">

<h2>Log IT Issue</h2>
<p style="color:gray;">Report any IT problem experienced by staff.</p>

<form method="POST">

<label>Issue Title</label>
<input type="text" name="title" placeholder="Enter issue title" required>

<label>Description</label>
<textarea name="description" placeholder="Describe the problem clearly..." required></textarea>

<label>Source</label>
<select name="source">
    <option>WhatsApp</option>
    <option>Phone Call</option>
    <option>Email</option>
</select>

<button type="submit" class="btn btn-primary">Submit Issue</button>

</form>

<div style="margin-top:20px;">
<a href="/dashboard" class="btn">⬅ Back to Dashboard</a>
</div>

</div>

</div>

</body>
</html>