<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-container">
    <div class="login-box">
        <h1>WELCOME TO BELLEVUE IT SUPPORT SYSTEM</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="error-message">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit">LOGIN</button>
        </form>

        <p class="reset-text">
            <strong>NB:</strong> Forgot Password?
            <a href="#">Reset password</a>
        </p>
    </div>
</div>

</body>
</html>