<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">

<div class="auth-container">
    <h2>Create New Technician</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" class="btn btn-primary">Create User</button>
    </form>

    <a href="/dashboard">Back to Dashboard</a>
</div>

</body>
</html>